Source: clepsydra
Section: admin
Priority: extra
Maintainer: Olli-Pekka Wallin <opwallin@gmail.com>
Uploaders: Olli-Pekka Wallin <opwallin@gmail.com>
Build-Depends: qt5-qmake, libqt5-dev, libmagick++-dev, debhelper (>= 9)
Standards-Version: 3.9.6
Homepage: https://github.com/timekpr

Package: clepsydra
Architecture: all
Depends: ${misc:Depends}, libqt5svg5, ${shlibs:Depends}, procps, libnotify-bin, login, libpam-modules, gksu | kdesu
Provides: clepsydra
Recommends: gdm | kdm
Description: Keep control of computer usage
 This program will track and control the computer usage of
 your user accounts. You can limit their daily usage based
 on a timed access duration and configure periods of day
 when they can or cannot log in.
 .
 Any bugs should be reported to our bug tracker:
 https://bugs.launchpad.net/clepsydra/+bugs

DISTRIBUTION=xenial
