[Desktop Entry]
Encoding=UTF-8
Name=Clepsydra
Comment=Clepsydra Client
Icon=clepsydra
Exec=/usr/local/bin/clepsydra
Terminal=false
Type=Application
Categories=

