[Desktop Entry]
Encoding=UTF-8
_Name=Clepsydra
_Comment=Clepsydra Client
Icon=clepsydra.svg
Exec=clepsydra
Terminal=false
Type=Application
Categories=

