[Desktop Entry]
Name=Clepsydra
Comment=Clepsydra Client
Exec=/usr/local/bin/clepsydra
Icon=/usr/share/pixmaps/clepsydra.svg
Terminal=false
Type=Application
Categories=Utility;
